@import "variables";
@import "social";
@import "nav";
@import "footer";

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
}

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.entry-container {
  p, ul, ol, form {
    color: $off-black;
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    -o-transition: .1s;
    -ms-transition: .1s;
    -moz-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
  }

  h4 {
    text-align: center;
  }
}

// entry metadata
.entry {
  background-color: $white;
  padding: 20px 0;
}

.entry-details {
  text-align: center;

  h2 {
    font-family: $font-stack;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 3em;
    padding-bottom: 20px;
    color: $gold;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
  }

  h3 {
    font-family: $text-stack;
    font-style: italic;
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: 2px;
  }
}

.entry-image {
  width: 50%;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.entry-body {
  font-family: $text-stack;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.45;
  margin-bottom: 40px;
  margin-top: 2em;

  p:first-child {
    padding-top: 30px;
  }

  a {
    color: $gold;
  }
}

.centered-title {
    font-family: $text-stack;
    font-weight: 300;
    font-style: italic;
    width: 45%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid $off-black;
    line-height: 0.1em;

    span {
        background: #fff;
        padding: 0 10px;
    }
}

#bobs-burgers {
  color: $gold;
  font-weight: bold;

  li {
    p {
      margin-top: 10px !important;
      margin: 0;
    }
  }

}

.list-heading {
  font-weight: bold;
  color: $gold !important;
  text-transform: uppercase;
  font-size: 1.15em;
}

.list-paragraph {
  width: 100% !important;
  font-weight: normal;

  span {
    font-weight: bold;
  }
}

.list-quote {
  font-style: italic;
}

/* quiz styling */
.multiple-choice {
  label {
    display: block;
  }
}

.result-quote {
  font-style: italic;
  border-left: 3px solid $off-black;
  padding-left: 10px;
}

.most-chosen {
  font-size: 1.25rem;
  border-top: 1px solid $off-black;
}

.book-image {
  width: 25%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#quiz-submit {
  font-family: $font-stack;
  font-size: 1em;
  background-color: $gold;
  color: $off-white;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 10px;
  margin-top: 2em;
  border: 2px solid $gold;
  -o-transition: .3s;
  -ms-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;

  &:hover {
    cursor: pointer;
    color: $gold;
    background-color: transparent;
  }
}

.input-option {
  margin-left: 10px;
}

/* indenting for poems */
.indent-1 {
  padding-left: 2em;
}

.indent-2 {
  padding-left: 4em;
}

.all-entries {
  padding-top: 2em;

  p {
    text-align: center;
  }

  a {
    color: $gold;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 10px;
    border: 2px solid $gold;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;

    &:hover {
      background-color: $gold;
      color: $off-white;
    }
  }
}

/* image slider */
.flexslider {
  width: 50%;
  margin: 0 auto !important;

  img {
    width: 100%;
  }
}

.flex-control-nav {
  width: 100% !important;
}

@media screen and (max-width : 960px) {
    .grid-entry {
        width: 50%;
    }
}

@media screen and (max-width : 768px) {
    .entry-body p, .multiple-choice, .entry-body ul {
        width: 90% !important;
    }

    .centered-title {
      width: 95%;
    }

    .entry-details {
      h2 {
        width: 95%;
      }
    }

    .flexslider {
      width: 80%;
    }
}

@media screen and (max-width : 480px) {
  .entry-image, .all-entries, ul {
    width: 100%;
  }
}