<div class="footer">
    <p>Design and Development by Nicole Zhu / <a href="http://www.hunnymag.com/" target="_blank" id="hunny">Hunny Mag</a></p>
    <div class="share-icons">
        <ul class="social">
            <a href="https://twitter.com/hunnymag" target="_blank">
                <li class="twitter-share"><span class="icon-twitter"></span></li>
            </a>
            <a href="https://www.facebook.com/Hunny-Mag-182336678772897/" target="_blank">
                <li class="facebook-share"><span class="icon-facebook"></span></li>
            </a>
            <a href="https://www.instagram.com/hunnymag/" target="_blank">
                <li class="instagram"><span class="icon-instagram"></span></li>
            </a>
        </ul>
    </div>
</div>