<header>
    <div id="logo">
        <p><a href="/">Hunny Mag</a></p>
    </div>

    <div class="main-nav">
        <ul>
            <li id="about"><a href="/about">About</a></li>
            <li class="contributors"><a href="/contributors">Contributors</a></li>
        </ul>
    </div>
</header>