---
layout: layout
title: Hunny Mag
---
<div class="container about">
    <h1>Letter From the Editor</h1>
    <p>Welcome to <em>Hunny Mag Issue #1.</em></p>
    <p>When we started <em>Hunny</em>, we wanted to create the space to listen, support, and challenge one another. To talk about the possibility of wormholes and how much we love Rihanna, or whatever else was on our minds. This has been a wonderful year, and we’ve grown as we’ve had more and more of those supportive, challenging conversations. And we wanted to build something to show for it.</p>
    <p>We wanted to end the school year with something a little special. Many of our team members are graduating, including myself, and going on to bigger and better things. Or just things. Or probably, at some point, but we’re not worried about that right now.</p>
    <p>This is our first ever digital issue, and we are so very fond of it. Our contributors are endlessly creative and intelligent, and they’ve helped us make something we can all share in our own little corner of the Internet. There’s no theme, per se, but this issue is a lil’ witchy cauldron of intersectional feminism, media representation, baking (and <em>baking</em>, if you know what I mean), growing up, and, yes, of course, <em>Bob’s Burgers</em>. We had a lot of fun making this, and we hope that you enjoy perusing it as much as we do.</p>
    <p>We’d like to thank those who contributed – your work is beautiful and your heart is indefatigable. And man, oh man, are you guys smart. Wowza.</p>
    <p>I’d like to thank the <em>Hunny</em> team who have worked all year to help make this idea a reality. You are all super cool kids, and I have had so much fun working with you. <em>Hunny</em> is all the better because you guys were here.</p>
    <p>Alright, I think that’s enough from me. Enjoy, ya hooligans!</p>
    <p>Until next time,</p>
    <p><em>Rose</em></p>

    <hr>

    <h1>About</h1>
    <p><em>Established in 2015 by Northwestern University undergraduate students. We currently operate on campus.</em></p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> is an online publication created, designed, coded, written, and edited entirely by women, femmes, and non-binary people.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> will feature personal essays, poems, drawings, photographs, op-eds, polls, advice, mixtapes, reviews, original video content, and will be constantly creating and exploring new types of content.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> will act in the name of Intersectional Feminism. Our content will not always explicitly discuss this, but our mission is to reflect it in whatever we do.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> is committed to actively seeking out different stories and perspectives. We will offer a platform for voices that face erasure in the realm of feminism and in our culture at large, and we will do this with persistence and in an effort to promote open dialogue.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> is about creating a dedicated and active space for us to exist together, to listen and support one another, to challenge each other and get creative. It’s A Room of Our Own where we can sit, share a bottle of wine, and discuss the possibility of wormholes and Rihanna and representation in video games. Hunny is an open invitation to discuss anything and everything, no matter how big or small; to find success in applauding one another; to laugh late at night, sitting on the living room floor, forging a bond and an education in the crucibles of wom*nhood.</p>
</div>