---
layout: layout
title: Hunny Mag
---
<div class="container about">
    <h1>About</h1>
    <p><em>Established in 2015 by Northwestern University undergraduate students. We currently operate on campus.</em></p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> is an online publication created, designed, coded, written, and edited entirely by women, femmes, and non-binary people.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> will feature personal essays, poems, drawings, photographs, op-eds, polls, advice, mixtapes, reviews, original video content, and will be constantly creating and exploring new types of content.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> will act in the name of Intersectional Feminism. Our content will not always explicitly discuss this, but our mission is to reflect it in whatever we do.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> is committed to actively seeking out different stories and perspectives. We will offer a platform for voices that face erasure in the realm of feminism and in our culture at large, and we will do this with persistence and in an effort to promote open dialogue.</p>
    <p><a href="http://hunnymag.com/" target="_blank">HUNNY</a> is about creating a dedicated and active space for us to exist together, to listen and support one another, to challenge each other and get creative. It’s A Room of Our Own where we can sit, share a bottle of wine, and discuss the possibility of wormholes and Rihanna and representation in video games. Hunny is an open invitation to discuss anything and everything, no matter how big or small; to find success in applauding one another; to laugh late at night, sitting on the living room floor, forging a bond and an education in the crucibles of wom*nhood.</p>
</div>