---
layout: content
---

<div class="entry-container">
    <div class="entry">
        <div class="entry-details">
            <h2>Feminist Utopia Quiz</h2>
            <h3 class="centered-title"><span>by Julia Azarcon</span></h3>
        </div>
        <div class="entry-body">
            <p>If you’re at all familiar with second-wave feminism, one of its most salient features includes the rise of feminist science fiction. Many of the works in this subgenre have been highly influential across several schools of thought, including gender inequality, sexuality, race, and reproduction. These themes are often illustrated through utopias, depicting societies where all the heinous transgressions of our patriarchal society have either been solved or never existed to begin with. However, many female authors have taken different approaches to reaching their so-called "utopia." Among some of the most notable texts of this period, which of these utopias do you fit into best? Are you ready to annihilate the concept of gender, or believe that radical separatism is our only hope? Transport yourself hundreds of years into the future and take this quiz to find out if you’re ready for the utopia that awaits!</p>
            <p>(This quiz was inspired by my English 368/Gender Studies 361 class called <em>Utopian and Dystopian Sci-Fi in Second Wave Feminism</em>. It’s offered in the winter and is an amazing class!!! Would recommend it to anyone who wants to read good books. It’s also one of my favorite classes ever, and that’s coming from a graduating senior. Special thanks to Professor Thompson who teaches the course, as she helped me formulate the questions!)</p>
            <div class="results">
            </div>
            <form class="multiple-choice">
                <h3>1. What would you consider as a fun past time?</h3>
                <label>
                    <input type="radio" name="answers[1]" value="A">I enjoy traveling and art, especially art that promotes love for the earth
                </label>
                <label>
                    <input type="radio" name="answers[1]" value="B" checked>Skiing and fortune telling
                </label>
                <label>
                    <input type="radio" name="answers[1]" value="C">Dueling and thinking of new ways to maim a man
                </label>
                <label>
                    <input type="radio" name="answers[1]" value="D">Throwing household items into a giant bonfire and singing chants
                </label>
                
                <h3>2. Aside from gender equality, what other global issue interests you the most?</h3>
                <label>
                    <input type="radio" name="answers[2]" value="A">Animal rights
                </label>
                <label>
                    <input type="radio" name="answers[2]" value="B">Climate change
                </label>
                <label>
                    <input type="radio" name="answers[2]" value="C" checked>Biological threats or epidemics like the Zika virus
                </label>
                <label>
                    <input type="radio" name="answers[2]" value="D">Refugees/any victim of war due to of armed forces
                </label>
                
                <h3>3. How would you like to raise your child?</h3>
                <label>
                    <input type="radio" name="answers[3]" value="A" checked>I want to adopt and raise my child with two other parents who can either be male and/or female, and we are all racially diverse
                </label>
                <label>
                    <input type="radio" name="answers[3]" value="B">Not within any specific gender role, because gender does not exist in the world my child will live in
                </label>
                <label>
                    <input type="radio" name="answers[3]" value="C">She will be cared for and loved until she turns 13 and needs to go on independently during her adolescent years of exploration
                </label>
                <label>
                    <input type="radio" name="answers[3]" value="D">She will grow up among a tribe of warrior women and understand the female body, especially female genitalia, at a very young age
                </label>
               
                <h3>4. What’s your favorite way to read a novel?</h3>
                <label>
                    <input type="radio" name="answers[4]" value="A">From a main character’s point of view, but very in-depth
                </label>
                <label>
                    <input type="radio" name="answers[4]" value="B">From multiple perspectives in the first person to tell different parts of the story
                </label>
                <label>
                    <input type="radio" name="answers[4]" value="C">Multiple, unclear perspectives with several anecdotes that are not necessarily linear
                </label>
                <label>
                    <input type="radio" name="answers[4]" value="D" checked>Non-linear. Anti-realism. No main characters to sympathize with. Does not adhere to a formal structure at all. A series of broken prose poems.
                </label>
                
                <h3>5. When it comes to relationships…</h3>
                <label>
                    <input type="radio" name="answers[5]" value="A">I enjoy open relationships with little jealousy or animosity. It’s impossible to be with just one person your whole life!
                </label>
                <label>
                    <input type="radio" name="answers[5]" value="B" checked>When I find the right one, I can devote myself to him/her for a lifetime.
                </label>
                <label>
                    <input type="radio" name="answers[5]" value="C">I believe in marriage, but it’s a hard for me to commit.
                </label>
                <label>
                    <input type="radio" name="answers[5]" value="D">Polygamy, but only with women, because I think that’s the best way to break the patriarchy.
                </label>
                
                <h3>6. What’s the next big fashion trend?</h3>
                <label>
                    <input type="radio" name="answers[6]" value="A">Flimsy dresses that are made out of algae, natural dyes, or anything biodegradable and meant to wear only once during festivals/special occasions
                </label>
                <label>
                    <input type="radio" name="answers[6]" value="B" checked>Layers upon layers of fur or wool to survive the extreme winter and will make it even harder to distinguish whether you are male or female
                </label>
                <label>
                    <input type="radio" name="answers[6]" value="C">Silver hair, silver eyes, or anything mechanical
                </label>
                <label>
                    <input type="radio" name="answers[6]" value="D">Nudity will be more widely accepted, but only for women in an all-female society
                </label>
                
                <h3>7. How do you like expressing your emotions?</h3>
                <label>
                    <input type="radio" name="answers[7]" value="A">I am a big softy who is usually over-expressive, and it is difficult for me not to cry in emotional moments
                </label>
                <label>
                    <input type="radio" name="answers[7]" value="B">Prestige, face, or the pride-relationship is important to me, so I usually keep my emotions to myself
                </label>
                <label>
                    <input type="radio" name="answers[7]" value="C" checked>It is sometimes difficult, but if I am passionate about a cause I will be vocal about it (for example, the elimination of all men)
                </label>
                <label>
                    <input type="radio" name="answers[7]" value="D">I can usually laugh about everything but am very serious when it comes to the destruction of all men
                </label>
                
                <h3>8. Which career path do you see yourself pursuing in your desired utopia?</h3>
                <label>
                    <input type="radio" name="answers[8]" value="A">Geneticist
                </label>
                <label>
                    <input type="radio" name="answers[8]" value="B">Diplomat
                </label>
                <label>
                    <input type="radio" name="answers[8]" value="C" checked>Assassin
                </label>
                <label>
                    <input type="radio" name="answers[8]" value="D">Soldier
                </label>
                
                <h3>9. What technological advancements do you look forward to enjoying in your utopia?</h3>
                <label>
                    <input type="radio" name="answers[9]" value="A">All housework like cleaning and laundry is automated, we can communicate with other species, and no one has to go through childbirth as all fetuses are grown in a brooder
                </label>
                <label>
                    <input type="radio" name="answers[9]" value="B" checked>There will be we intergalactic travel, telepathy, diplomacy with alien species, and more sophisticated methods of divination
                </label>
                <label>
                    <input type="radio" name="answers[9]" value="C">Parallel universes in different time periods have been discovered and we can travel between them, we can genetically merge our ova to procreate, and there will exist a helmet that simplifies all high-level industrial work
                </label>
                <label>
                    <input type="radio" name="answers[9]" value="D">Greater development and proliferation of weapons of mass destruction
                </label>

                <h3>10. How will your utopia’s government be structured?</h3>
                <label>
                    <input type="radio" name="answers[10]" value="A" checked>No central government will exist, but for every area there will be a town council and decisions are made communally
                </label>
                <label>
                    <input type="radio" name="answers[10]" value="B">A monarchy will rule and some people will be richer than others but there will be little or no poverty
                </label>
                <label>
                    <input type="radio" name="answers[10]" value="C">Government does not exist in the sense that you are familiar with, but there is enough structure to fight a war against men
                </label>
                <label>
                    <input type="radio" name="answers[10]" value="D">All forms of government, structure, and knowledge are abolished
                </label>

                <h3>11. How do you de-stress after a long week?</h3>
                <label>
                    <input type="radio" name="answers[11]" value="A">Watch a movie in 3D or go to an art gallery
                </label>
                <label>
                    <input type="radio" name="answers[11]" value="B">Go on a hike somewhere in the snow capped mountains
                </label>
                <label>
                    <input type="radio" name="answers[11]" value="C" checked>Beat up a guy I’m clearly not interested in because he's still hitting on me and smoke a j afterwards
                </label>
                <label>
                    <input type="radio" name="answers[11]" value="D">Have a big party with lots of laughter and imbibe excessive amounts of colorful liquor
                </label>

                <h3>12. What will sex be like in your feminist utopia?</h3>
                <label>
                    <input type="radio" name="answers[12]" value="A" checked>With anyone and everyone, regardless of race, gender, or class, but now men can breastfeed so sometimes they lactate.
                </label>
                <label>
                    <input type="radio" name="answers[12]" value="B">We are all sexless and look completely androgynous except for every month when for a week we are uncontrollably horny and grow genitals, which can either be male or female
                </label>
                <label>
                    <input type="radio" name="answers[12]" value="C">There are no real men in my utopia, so either with other women or highly advanced sex toys
                </label>
                <label>
                    <input type="radio" name="answers[12]" value="D">Primal, savage, and only with women with an emphasis on oral sex
                </label>
                <input type="submit" id="quiz-submit">
            </form>
        </div>

        <div class="all-entries clearfix">
            <p><a href="../../">See all stories</a></p>
        </div>
    </div>
</div>