---
layout: layout
title: Hunny Mag
---
<div class="container">
	<div id="hunny-gif">
		<img src="images/hunnygif.gif" />
	</div>
	<div class="issue-num">
		<h2 class="centered-title"><span>Issue One</span></h2>
	</div>
	<div class="row clearfix">
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">The Quiet After Isha</h2>
			<hr>
			<p class="author">Noor Hasan</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Photography</span>
			<h2 class="title">Fairest When We Fall</h2>
			<hr>
			<p class="author">Erica Fada</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Recipe</span>
			<h2 class="title">Not Your Grandma's Brownies (Unless Your Grandma is Snoop Dogg)</h2>
			<hr>
			<p class="author">Anonymous</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="item col-1-3">
			<span class="label">Short Fiction</span>
			<h2 class="title">A Husband's Funeral</h2>
			<hr>
			<p class="author">Jessie Vane</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">The Awake Game</h2>
			<hr>
			<p class="author">Liz McLaughlin</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Photography</span>
			<h2 class="title">Unbound</h2>
			<hr>
			<p class="author">Lola Parchment</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="item col-1-3">
			<span class="label">Quiz</span>
			<h2 class="title">Feminist Utopia Quiz</h2>
			<hr>
			<p class="author">Julia Azarcon</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">Bad Timing</h2>
			<hr>
			<p class="author">Amara Leonard</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">Good Mornings</h2>
			<hr>
			<p class="author">Noor Hasan</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">Upturned Palms</h2>
			<hr>
			<p class="author">Sylvana Caruso</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">Woman Hollering Chinna Creek</h2>
			<hr>
			<p class="author">Noor Hasan</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Essay</span>
			<h2 class="title">Here We Are (And Now What)</h2>
			<hr>
			<p class="author">Rose Amer</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="item col-1-3">
			<span class="label">Comic</span>
			<h2 class="title">People You See on The Lakefill</h2>
			<hr>
			<p class="author">Hunny & Caroline Brown</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">Poughkeepsie</h2>
			<hr>
			<p class="author">Liz McLaughlin</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Photography</span>
			<h2 class="title">Unbound</h2>
			<hr>
			<p class="author">Lola Parchment</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="item col-1-3">
			<span class="label">Recipe</span>
			<h2 class="title">Zucchini Bread</h2>
			<hr>
			<p class="author">Kerry Driscoll</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Media Criticism</span>
			<h2 class="title">Making it Miranda: From Miranda Sanchez to Lin Manuel Miranda</h2>
			<hr>
			<p class="author">Bianca Sanchez</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">Elmina</h2>
			<hr>
			<p class="author">Noor Hasan</p>
		</div>
	</div>
	<div class="row clearfix">
		<div class="item col-1-3">
			<span class="label">Poem</span>
			<h2 class="title">Claws</h2>
			<hr>
			<p class="author">Noor Hasan</p>
		</div>
		<div class="item col-1-3">
			<span class="label">List</span>
			<h2 class="title">Top Ten Bob's Burger's Episodes</h2>
			<hr>
			<p class="author">Hunny</p>
		</div>
		<div class="item col-1-3">
			<span class="label">Interview</span>
			<h2 class="title">Queer Kid Stuff</h2>
			<hr>
			<p class="author">Rose Amer</p>
		</div>
	</div>
</div>